.HomeWrapper {
  min-height: calc(100dvh - var(--navbar-h));
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeContents {
  min-width: 1440px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 60px;
}

@media (max-width: 768px) {
  .HomeContents {
    flex-direction: column;
  }
}
