@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
  background-color: #fdfbf9;
}

:root {
  --navbar-h: 64px;
}
